.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/img/Background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  
  .login-back {
    max-width: 80%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    //   border: 1px solid #ccc;
  
    .login-icon {
      width: 200px;
      height: 200px;
      max-width: 80%;
      object-fit: contain;
      padding-bottom: 20px;
    }
  
    .input-back {
      position: relative;
      display: flex;
      width: 100%;
      border-bottom: 1px solid #ccc;
      padding: 10px 0;
      img {
        width: 20px;
        padding: 0 10px;
        filter: invert(92%) sepia(4%) saturate(5%) hue-rotate(77deg)
          brightness(90%) contrast(90%);
      }
      input {
        width: calc(100% - 40px);
        background: none;
        color: #ccc;
        padding: 5px;
        font-size: 16px;
        border: 1px solid #0000;
  
        &::placeholder {
          color: #aaa;
        }
        &:focus-visible {
          border: 1px solid #aaa;
          border-radius: 5px;
          outline: none;
        }
      }
      .ctrl-btn {
        position: absolute;
        right: 0;
        padding: 7px;
        cursor: pointer;
      }
    }
  
    button {
      width: 100%;
      padding: 5px;
      margin: 10px;
      border-radius: 10px;
      background: none;
      border: 2px solid #aa0;
      font-size: 16px;
      font-weight: bold;
      color: #aa0;
      cursor: pointer;
      &:hover {
        background-color: #ccc2;
      }
    }
    .login-note {
      display: flex;
      align-items: center;
      color: #ccc;
      div:nth-child(2) {
        padding: 5px;
      }
      @media (max-width: 500px) {
        div:nth-child(1) {
          display: none;
        }
        div:nth-child(3) {
          display: none;
        }
      }
    }
    .login-visitor {
      margin: 10px;
      color: #ccc;
      cursor: pointer;
      &:hover {
        color: #fff;
      }
    }
  }
  
  .version-note{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1rem 2rem;
    color: #979797;
  }