<div class="main">
  <div class="timeline-wrap">
    <app-timeline
      [timelineData]="timelineData"
      (selectPhoto)="selectPhoto($event)"
    ></app-timeline>
  </div>
  <div class="photo-wrap">
    <img
      [class.leave]="isPhotoLeave"
      [src]="thisPhotoUrl"
      (mouseover)="stopPlayPhoto(true)"
      (mouseleave)="stopPlayPhoto(false)"
    />
  </div>
  <img
    *ngIf="isPlayStoped"
    class="select-none button-paly"
    src="assets/img/PlayCircle.svg"
    (click)="stopPlayPhoto(false)"
  />
</div>
