.main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 50px);
  overflow: hidden;
  background-image: url("../../assets/img/Background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100vh;
  }

  .timeline-wrap {
    width: 350px;
    display: flex;
    justify-content: center;
    overflow: auto;
    margin: 10vh 0;
    z-index: 1;
  }
  .photo-wrap {
    width: 800px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    img {
      width: calc(100% - 80px);
      height: calc(100% - 150px);
      object-fit: cover;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      border: 5px solid #ccccff54;
      border-radius: 10px;
      transition: opacity 0.5s ease;
      &.leave {
        opacity: 0;
      }
    }

    .photo-info {
      width: calc(100% - 20px);
      min-height: 50px;
      padding: 10px;
      margin: 5px;
      overflow: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-all;
      .marker-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        .owner-wrap {
          border-radius: 20px;
          background-color: #f1ca7b;
          padding: 5px;
          word-break: keep-all;
        }
      }
    }
    @media (max-width: 1200px) {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  @media (max-width: 1200px) {
    & {
      flex-direction: column;
    }
    .timeline-wrap {
      width: calc(100% - 40px);
      max-height: 125px;
      margin: 0 0 0 20px;
      justify-content: flex-start;
    }
    .photo-wrap {
      width: calc(100% - 40px);
      height: 70%;
      max-height: calc(100% - 165px);
    }
  }

  .button-paly {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 3rem;
    z-index: 1;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 2px 2px #242b0e;
    filter: invert(72%) sepia(8%) saturate(2124%) hue-rotate(212deg)
      brightness(102%) contrast(84%);
  }
}
