<div class="main">
  <div class="timeline-wrap">
    <app-timeline
      [timelineData]="timelineData"
      (selectPhoto)="selectPhoto($event)"
    ></app-timeline>
  </div>
  <div class="photo-wrap">
    <img
      [class.leave]="isPhotoLeave"
      [src]="thisPhotoBase64"
      (mouseover)="stopPlayPhoto(true)"
      (mouseleave)="stopPlayPhoto(false)"
    />
    <div class="photo-info">
      <div class="member-wrap">
        <div *ngFor="let x of thisPhotoOwners" class="owner">{{ x }}</div>
        <div *ngFor="let x of thisPhotoMembers" class="member">{{ x }}</div>
      </div>
      <div *ngIf="thisPhotoInfo">{{ thisPhotoInfo }}</div>
      <a *ngIf="thisPhotoRef" [href]="thisPhotoRef" target="_blank">{{
        thisPhotoRef
      }}</a>
    </div>
  </div>
  <img
    *ngIf="isPlayStoped"
    class="select-none button-paly"
    src="assets/img/PlayCircle.svg"
    (click)="stopPlayPhoto(false)"
  />
</div>
